<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | My Flask Blog</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #333;
        }
        a {
            text-decoration: none;
            color: white;
            background: #007BFF;
            padding: 10px 20px;
            border-radius: 5px;
        }
        a:hover {
            background: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Welcome to My Flask App</h1>
    <p>This is the homepage.</p>
    {% for post in posts %}
        <div>
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
            <p>By<strong>:</strong> {{post.author}}</p>
            <p><strong>Date:</strong> {{post.date_posted}}</p>
        </div>>
    {% endfor %}

    <a href="/about">Go to About Page</a>
</body>
</html>
